<div class="container">
  <!-- Page Content goes here -->
  <div class="row"></div>
  <div class="row">
    <h4>Caesar Chiper</h4>
    <p>The Caesar cipher, also known as a shift cipher, is one of the simplest forms of encryption. It is a substitution
      cipher where each letter in the original message (called the plaintext) is replaced with a letter corresponding to
      a certain number of letters up or down in the alphabet.</p>
  </div>

  <div class="row">

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Input Key" id="key" type="number" min="1" [(ngModel)]="key">
        <label for="key">Key</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="plaintext" [(ngModel)]='plain' placeholder="Type your plain text here"
                  class="materialize-textarea"></textarea>
        <label for="plaintext">Plaintext</label>
      </div>
      <div class="input-field col s6">
        <textarea id="chipertext" [(ngModel)]='cipher' placeholder="type your cipher text here"
                  class="materialize-textarea"></textarea>
        <label for="chipertext">Ciphertext</label>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <a class="waves-effect waves-light btn" (click)="enkrip(plain,key)">Encrypt</a>

      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn" (click)="dekrip(cipher,key)">Decrypt</a>
      </div>
    </div>
  </div>

</div>
